body{
    font-family: "微软雅黑";
}

header.bar .title {
    font-size: 16px;
    font-weight: bold;
}

.table-court{
    width: 100%;
    overflow-x :auto;
    white-space:nowrap;
    font-size: 0px;
    height: 100%;
}

.table-court .content{
    /*height: 500px;*/
}

.table-court .col-hour,
.table-court .col-instant-order{
    display: inline-block;
    margin: 1px;
}

.table-court .col-hour{
    width: 50px;
}
.table-court .col-instant-order{
    width: 60px;
}

.table-court .court,
.table-court .hour,
.table-court .instant-order{
    text-align: center;
    width: 100%;
    vertical-align: middle;
    margin: 1px;
    padding: 10px 1px;
    line-height: 1.33;
    font-size: 14px;
    display: block;
    border: 1px solid #dddddd;
    text-decoration: none;
}

.table-court .court,
.table-court .hour{
    background-color: #FFFFFF;
    color: #333333;
}

.table-court .instant-order{
    background-color: #EEEEEE;
}

.table-court .buy,
.table-court .offline{
    color: #ffffff;
    background-color: #5cb85c;
    cursor: pointer;
}
.table-court .buy:hover,
.table-court .offline:hover{
    background-color: #47a447;
}

.table-court .online{
    background-color: #FFFFFF;
    cursor: pointer;
}
.table-court .online:hover{
    background-color: #ffeeee;
}

.table-court .living{
    color: #ffffff;
    background-color: #f0ad4e;
}

.table-court .paying{
    color: #ffffff;
    background-color: #f0ad4e;
    cursor: pointer;
}

.table-court .paying:hover{
    background-color: #ed9c28;
}

.table-court .active{
    background-color: #99CC99;
    border: 1px solid #660066;
    font-weight: bold;
    color: #660066;
}

.table-court .active:hover{
    background-color: #99CC99;
}

.worktable .halls a{
    padding: 10px 10px !important;
    font-size: 16px;
    font-family: '微软雅黑';
}

.worktable .halls ul{
    border-bottom: solid 1px #dddddd
}

.worktable .date{
    display: table-cell;
    width: 1%;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;
    line-height: 1;
    color: #333;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #72c02c;
}

.worktable .date p{
    margin-bottom: 2px;
    font-size: 10px;
}

.worktable .date.active{
    border-top: 1px solid #72c02c;
    border-left: 1px solid #72c02c;
    border-right: 1px solid #72c02c;
    border-bottom: none;
}

.worktable .date.active p{
    font-weight: bold;
    color: #72c02c;
}

.tab.bar-header-secondary{
    padding: 1px;border: none; height: 30px
}
.tab .segmented-control{
    top: 0;margin-bottom: 2px; border: none
}

.tab .segmented-control a{
    font-size: 16px;
    padding: 10px
}

.hall-on-sale .head-img{
    width: 70px;
    padding-top: 5px;
    /*background-color: #FFFFFF;*/
    /*border: 1px solid #cccccc;*/
}

.hall-on-sale .description{
    padding-right: 2px;
}

.hall-on-sale .description p{
    padding-top: 4px;
    font-size: 14px;
}

.hall-on-sale .description .name{
    font-size: 15px;
    color: #009A10;
    font-weight: bold;
    /*white-space: nowrap;*/
}


.hall-on-sale .description .header{
    font-size: 14px;
    font-weight: bold;
}

.hall-on-sale .price{
    width: 20%; float: right;
}

.hall-on-sale .price p{
    /*background-color: #dddddd;*/
    color: #ed145b;
    padding-top: 5px;
}

.hall-on-sale .symbol{
    position: relative;
    bottom: 10px;
    left: 10%;
    font-weight: bold;
    font-size: 0.9em;
}

.hall-on-sale .money{
    font-weight: bolder;
    font-size: 1.7em;
}

.hall-on-sale .status{
    margin-top: 20px;
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
    float: right;
}

.hall-on-sale .notice p{
    padding: 15px 5px 5px;
    text-align: center;
    font-size: 15px;
}

.hall-on-sale .go{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 0;
}

.hall-on-sale table{
    margin-top: 5px;
    width: 100%;
}
.hall-on-sale table thead > tr > th{
    color: #72c02c;
}
.hall-on-sale table thead > tr > th,
.hall-on-sale table tbody > tr > td
{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #dddddd;
}

.toolbar,
.toolbar .segmented-control{
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    background-color: transparent;
    border: none;
    height: 50px;
}

.toolbar{
    padding: 0;
    margin: 0;
    bottom: 50px;
}

.toolbar .control-item,
.toolbar .control-item.active{
    background-color: #d9534f;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 2em;
}

.user-center .table-view{
    border: 1px solid #dddddd;
    background-color: #EEEEEE;
    padding: 1px;
    margin: 10px 5px 0 5px;
    border-radius: 5px;
}
.user-center .instant,
.user-center .reserve{
    border-radius: 5px 5px 0 0;
}

.user-center .segmented-control{
    background-color: #EEEEEE;
    padding: 1px;
    margin: 0 5px 0 5px;
    border-radius: 0 0 5px 5px;
    border-top: none;
}

.bar .search .btn{
    width: 28%;
    margin-left: 5px;
    float: right;
    font-size: 18px;
    top: 5px;
}

.form-controller {
    margin-bottom: 15px;
}

.form-controller .label{
    width: 25%;
    padding-right: 2%;
    float: left;
    text-align: right;
    color: #428bca;
}

.form-controller .input-normal{
    width: 70%;
    margin-bottom: 5px;
}

.form-controller .item{
}

.form-controller .notice{
    font-size: 14px;
    color: dimgray;
    text-align: right;
    padding: 5px;
    background: #fffff2;
    border: 1px solid #dea52a;
    border-radius: 5px;
    margin: 5px 15px;
}

.form-controller .error{
    padding-left: 25%;
    font-size: 14px;
    color: red;
}
.form-controller select{
    height: 35px;
}

.from-button {
    width:90%; margin: 5px auto ;
}

.page-notice {
    margin-top: 10px;
}

.page-notice .notice-large{
    font-size: 20px;
    color: #428bca;
    text-align: center;
}

.page-notice .head{
    font-size: 18px;
    color: #428bca;
    text-align: left;
    width: 90%;
    margin: 5px auto;
    line-height: 26px;
    letter-spacing: 3px;
    text-indent: 42px;
}

.page-notice .description{
    font-size: 18px;
    color: #428bca;
    text-align: left;
    width: 90%;
    margin: 5px auto;
    line-height: 26px;
    letter-spacing: 3px;
    text-indent: 42px;
}

.page-notice .btn{
    width:90%; margin: 20px auto ;
}


.table-view-cell  .item{
    position: relative;
    display: block;
    padding: inherit;
    margin: -11px -65px -11px -15px;
    overflow: hidden;
    color: inherit;
}